body {
  width, height: 100%;
  background-color: black;
  padding-left: 50px;
}

.container {
  padding-top: 20px;
}

.chronology{
  height: 600px;
  width: 2000px;
  overflow: scroll;
  /* border-style: solid;
  border-color: #625df6;
  border-width: thin; */
}



.stickyDiv {
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -1;
  position: sticky;
  /* ps you can even make this div a flexbox to position elements inside it */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.scrollingContent div {
  width: 50%;
  margin-left: 20px;
  padding: 10px;
  /* background-color: white;
  opacity: 60%; */
  margin-bottom: 1000px;
  font-size: 40px;
  color:white;
  font-family: 'Roboto Mono', monospace;
}

.scrollingContent div:last-child {
  margin-bottom: 0px;
}
